<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean就是java对象 , 由Spring创建和管理-->
   <!-- 第一种有参
   <bean id="user" class="com.xuan.pojo.User">
        <property name="name" value="朱标"></property>
    </bean>-->

   <!--第二种有参 ,,,不建议 -->
    <!--   <bean id="user" class="com.xuan.pojo.User">-->
    <!--        <constructor-arg type="java.lang.String" value="zhaoxuan"/>-->
    <!--    </bean>-->
    <!--    第三种-->
    <bean id="user" class="com.xuan.pojo.User">
        <constructor-arg name="name" value="张三"/>
    </bean>
</beans>